
.background-color {
    background-color: transparent;
}

.margin{
    margin: 20px;
}

.mgt20{
    margin-top: 20px;
}

.chart-container{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-divider{
    margin-top: 15px;
}

