<mat-card >
    <h1>Machines Dashboard</h1>
    <mat-card-content>
        <!-- first row -->
        <div class="canvas-container" fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex class="center">
                <mat-card class="chart-card">
                    <canvas class="chart-container" id="chart1"></canvas>
                </mat-card>
            </div>
            <div fxLayout="column" fxFlex class="center">
                <mat-card class="chart-card">
                    <canvas class="chart-container" id="chart2"></canvas>
                </mat-card>
            </div>
        </div>

        <!-- second row -->
        <div class="canvas-container" fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex class="center">
                <mat-card class="chart-card">
                    <canvas class="chart-container" id="chart3"></canvas>
                </mat-card>
            </div>
            <div fxLayout="column" fxFlex class="center">
                <mat-card class="chart-card">
                    <canvas class="chart-container" id="chart4"></canvas>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>