.mat-h6,
.mat-headline,
.mat-typography h6 {
    font-size: 18px;
    font-weight: 400;
}

.mat-toolbar {
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
}

.white{
    color : white;
}

.menuColor{
    color: #3F51B5;
    background-color: transparent;
    width: max-content;
}

.buttonColor{
    background-color: #3F51B5;
}

.align{
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: underline;
}