<mat-nav-list>
    <div class="logo">
        <img src=".././../assets/ALTEN-Logo.png" alt="company logo"/>
    </div>

    <mat-divider></mat-divider>

    <div class="container">
        <a mat-list-item class="list-item" routerLink="sensor" routerLinkActive="active">
            <mat-icon>wifi_tethering</mat-icon>
            <span class="text">Smart factory</span>
        </a>
    </div>

    <mat-divider></mat-divider>
    
    <div class="container">
        <a mat-list-item class="list-item" routerLink="machine" routerLinkActive="active">
            <mat-icon>settings</mat-icon>
            <span class="text">Machines</span>
        </a>
    </div>

</mat-nav-list>
