<mat-nav-list>
    <div class="logo">
        <img src=".././../assets/ALTEN-Logo.png" alt="company logo"/>
    </div>

    <mat-divider></mat-divider>

    <div class="container">
        <a mat-list-item class="list-item" routerLink="sensor" routerLinkActive="active">
            <mat-icon>wifi_tethering</mat-icon>
            <span class="text">Sensors</span>
        </a>
    </div>

    <mat-divider></mat-divider>
    
    <div class="container">
        <a mat-list-item class="list-item" routerLink="machine" routerLinkActive="active">
            <mat-icon>settings</mat-icon>
            <span class="text">Machines</span>
        </a>
    </div>

    <mat-divider></mat-divider>
    
    <div class="container">
        <a mat-list-item class="list-item" routerLink="maintenance" routerLinkActive="active">
            <mat-icon>calendar_today</mat-icon>
            <span class="text">Maintenance</span>
        </a>
    </div>

    <div class="version">Version 1.0.0</div>

</mat-nav-list>
