:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
    @media only screen and (max-width: 600px) {
        width: 80px;
    }
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

mat-drawer-container {
    height: 100%;
}